
.margin_section{
    margin-top: 25vh;
}
.background_home {
  background-color: rgb(240 246 251);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  
  
}
/* Section Services Start */
.services{
  background: #f9f9f9;
  margin-top: 100px;
}
.services .card{
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;
}
.services .card i{
  font-size: 80px;
  text-align: center;
  color: #e09916;
  margin-top: 20px;
}
.services .card .card-body h3{
  font-weight: 600;
}
.services .card .card-body{
  text-align: center;
}
/* Section Services End */

.background_home .row {
  height: 100%;
}
.background_home img {
  margin: 0;
}
.home3-shape1 {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 30%;
}

.home3-shape2 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 30%;
  z-index: 1;
}
.home3-shape3 {
  position: absolute;
  top: 300px;
  left: 0;
  width: 20%;
  z-index: 2;
}
.background_home .col-lg-6,
.background_home .col-md-6,
.background_home .col-sm-12 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vh;
  padding-right: 10vh;

}

.title_home {
  font-size: 2rem;
  margin: 0;
  color: rgb(60 102 171);
  font-weight: 700;
  z-index: 3;
  /* text-align: left; */
}
.big_title_home {
  font-size: 50px;
  z-index: 3;
  font-weight: 700;
}
.descr_home {
  z-index: 3;
  font-size: 18px;
  color: rgb(94 88 88);
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 25px;
}
.learn_more_btn_home {
  z-index: 3;
  font-weight: 600;
  border: 1px solid #365486;
  border-radius: 28px;
  box-shadow: 0 5px 15px 0 rgba(54, 83, 134, 0.19);
  color: #fff;
  outline: 0 none;
  transition: all 0.5s ease-out 0s;
  width: 30%;
  background: #365486;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 33px;
  cursor: pointer;
  text-transform: capitalize !important;
}
.main_img_home {
  display: block;
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  /* animation: moveImage 10s  linear infinite; */
  height: 62%;
  animation: jump 3s ease-in-out infinite;
  z-index: 2;
}
@keyframes jump {
  0% {
    transform: translateY(0); /* Start position */
  }
  50% {
    transform: translateY(-20px); /* Jump up */
  }
  100% {
    transform: translateY(0); /* End position */
  }
}

.circle_img_home {
  display: block;
  width: 10%;
  height: auto; /* Maintain aspect ratio */
  animation: moveImage 5s linear infinite;
}

@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}
.cross_img_home {
  width: 30px;
  height: 30px;
}
.wave_img_home {
  width: 30px;
  height: 30px;
  animation: moveImage 5s linear infinite;
}
.why_choose_descr{
  font-size: 18px;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(102 102 102);
}
.background_whychooseus_home{
  background-image: url('../assets//home3-about-bg.png');
height: 100%;
}
/* CARDS ********************/
.card_icon_home {
  padding: 5vh;
  margin: 1vh;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: relative; /* Ensure the pseudo-elements are positioned relative to the card */
  display: grid;
  border: none;
  border-radius: 10px;
  place-items: center;
  overflow: hidden;
  height: 300px;
}

.icon_home {
  width: 30%;
  height: 60%;
  object-fit: contain;
  z-index: 2;
}
.card_icon_home::before {
  content: "";
  position: absolute;
  background-color: #f5fdfc;
  border-radius: 50%;
  left: -50px;
  top: -30px; /* Adjusted from -80px to align better */
  width: 230px;
  height: 130px;
  z-index: 1; /* Ensure the circle stays behind the card content */
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease; 

}

.card_icon_home::after {
  content: "";
  position: absolute;
  background-color: #365486;
  border-radius: 50%;
  right: -18px;
  bottom: -55px; 
  width: 120px;
  height: 100px;
  z-index: 1; 
  transition: width 0.5s ease, height 0.3s ease, right 0.3s ease, bottom 0.3s ease; 

}
.card_icon_home:hover::after {
    width: 90px;
    height: 50px;
    right: -10px; 
    bottom: -20px; 
}
.card_icon_home:hover::before {
    width: 160px;
    height: 90px;
    right: -10px; 
    bottom: -20px; 
}

/* END CARDS*************** */
/* SERVICES HOME */
.view_more_btn_home{
    z-index: 3;
    font-weight: 600;
    border: 1px solid #365486;
    border-radius: 28px;
    box-shadow: 0 5px 15px 0 rgba(54, 83, 134, 0.19);
    color: #fff;
    outline: 0 none;
    transition: all 0.5s ease-out 0s;
    width: 15%;
    background: #365486;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 33px;
    cursor: pointer;
    text-transform: capitalize !important;
}
.view_more_btn_home:hover{
    background: #fff;
    border: #365486 solid 1px;
    color: #365486;
}
.learn_more_btn_home:hover{
    background: #fff;
    border: #365486 solid 1px;
    color: #365486;
}
.card_services_home{
    padding: 5vh;
    margin: 1vh 1vh 5vh 1vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    position: relative; /* Ensure the pseudo-elements are positioned relative to the card */
    display: grid;
    border: none;
    place-items: center;
    overflow: hidden;
    height: 300px;
    text-align: center;
    transition: all 0.5s ease-out 0s;
    
}
.card_services_home:hover{
transform: scale(1.08);
}
.background_icon_home{
    background-color:#f5fdfc ;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help_you_img_home{
    width: 50%;
    height: 60%;
    object-fit: contain;
}
.services_home{
    font-size: 20px;
    font-weight: 700;
}
.descr_serv_home{
  font-size: 0.875rem;
}
@media screen and (max-width: 956px) {
   .background_home .col-sm-12 {
    padding-left: 15px;
  }
    .background_home {
    height: auto;
    }
  .title_home {
    margin-top: 100px;
    font-size: 1rem;
  }
  .big_title_home {
    font-size: 30px;
  }
  .descr_home {
    font-size: 15px;
  }
  .learn_more_btn_home {
    width: 100%;
  }
  .view_more_btn_home{
    width: 100%;

  }
}
@media screen and (max-width:1494px) {
  .title_home {
    margin-top: 150px;
  }
}
