/* src/Css/navbar.css */
.navbar-rtl {
  direction: rtl;
}

/* Ensure the logo and toggle button are positioned correctly */
.navbar-rtl .navbar-brand {
  order: 2; /* Logo on the right for RTL */
}
.navbar-rtl .navbar-toggler {
  order: 1; /* Toggle button on the left for RTL */
}

.navbar-ltr .navbar-brand {
  order: 1; /* Logo on the left for LTR */
}
.navbar-ltr .navbar-toggler {
  order: 2; /* Toggle button on the right for LTR */
}


.navbar-light {
    font-family: "Cairo", sans-serif;
    background-color: rgb(240, 246, 251);
  }
  
  
  
  .text_navbar {
    font-weight: 700;
    color: #999999;
    font-size: 20px;
  }
  
  .text_navbar:hover {
    font-weight: 700;
    color: #365486;
    text-decoration: underline;
  }
  
  .navbar-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .logo_size {
    max-width: 60%;
    height: auto;
   
  }
  
  i.bi-globe2 {
    margin-left: 5px;
    font-size: 1rem;
    color: black;
  }
  
 
  
  .navbar-collapse {
    margin-left: 35rem !important; /* Apply for large screens */
  }
  
      
  .navbar-toggler {
    
    background-color: rgb(240, 246, 251);
  border: #365486;
  


  }
  .navbar-toggler:hover {
    background-color: rgb(240, 246, 251);
 
    border: none !important;
    
  }

  /* DropdownWithIcon.css */
.dropdown-container {
    position: relative;
    display: inline-block;
    border: none; /* Remove default border */
    box-shadow: none; /* Remove default shadow */
  
    background-color: rgb(240, 246, 251);
  }
  
  .dropdown-wrapper {
    top: 100%;
    left: 0;
    background-color: rgb(240, 246, 251);
    z-index: 1000;
    border: none; /* Remove default border */
  box-shadow: none; /* Remove default shadow */

  }
  
  .small-select {
    /* Smaller select styling */
    font-size: 16px;
    background-color: rgb(240, 246, 251);
   
    border-color:  rgb(240, 246, 251);
    border: none; /* Remove default border */
  box-shadow: none; /* Remove default shadow */

  }
  
/* Add some spacing for the dropdown if needed */
.dropdown-wrapper select {
    width: 100%; /* Make the select box span the width of the container */
  }
  @media screen and (max-width: 1200px) {
    .navbar-collapse {
      margin-left: 0 !important; /* Adjust for large screens between 992px and 1200px */
    }
  }
  
  @media screen and (max-width: 992px) {
    .text_navbar {
      font-size: 16px;
      order: 1; /* Logo on the left */

    }
    .navbar-toggler {
    order: 2; /* Toggle button on the right */
  }
    .logo_size {
      max-width: 50%;
      height: auto;
    }
    
   
    .navbar-collapse {
      margin-left: 0 !important; /* Adjust for medium screens */
    }
   
      /* DropdownWithIcon.css */
    .dropdown-container {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-wrapper {
        top: 100%;
        left: 0;
        z-index: 1000;
      }
      
      .small-select {
        /* Smaller select styling */
        font-size: 12px;
        background-color: rgb(240, 246, 251);
        border-color:  rgb(240, 246, 251);
      }
      
  }
  
  @media screen and (max-width: 600px) {
    .text_navbar {
      font-size: 14px;
      order: 1; /* Logo on the left */
    }
    .navbar-toggler {
      order: 2; /* Toggle button on the right */
    }
    .logo_size {
      max-width: 40%;
      height: auto;
    }
  
    .navbar-collapse {
      margin-left: 0 !important; /* Adjust for small screens */
    }
    
  
  /* DropdownWithIcon.css */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-wrapper {
    top: 100%;
    left: 0;
    z-index: 1000;
  }
  
  .small-select {
    /* Smaller select styling */
    font-size: 12px;
    background-color: rgb(240, 246, 251);
    border-color:  rgb(240, 246, 251);
  }
  
  }